<div class="task-filer-form-wrapper">
    <form action="/node/tasks/search" method="get">
        <label for="search">Search: </label>
        <input id="search" type="search" name="search">
    </form>
</div>