<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node JS Task Api</title>
</head>
<body>
    <%- include('partials/add-task-form') %>
    <%- include('partials/task-filter-form') %>
    <%- include('partials/task-list') %>

    <!--<form action="/node/tasks/file" method="post" enctype="multipart/form-data">-->
        <!--<input type="file" name="file">-->
        <!--<input type="submit" value="upload">-->
    <!--</form>-->
</body>
</html>