<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/partials/add-task-form.css">
    <link rel="stylesheet" type="text/css" href="/css/partials/task-filter-form.css">
    <link rel="stylesheet" type="text/css" href="/css/partials/task-list.css">
    <title>Node JS Task Api</title>
</head>
<body>
    <div class="wrapper">
        <%- include('partials/add-task-form') %>
        <%- include('partials/task-filter-form') %>
        <%- include('partials/task-list') %>
    </div>
</body>
</html>