<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node JS Task Api</title>
</head>
<body>
    <%- include('partials/add-task-form') %>
    <%- include('partials/task-list') %>
</body>
</html>